.sidebar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to top, #5671e0, #5773e6, #5875ec, #5977f3, #5a79f9);    font-family: $font-2;

    height: 270px;
    min-width: 300px;
    border-radius: $borderRadius;
    position: relative;
    margin: 0 0 0.5rem 0rem;

    .id {
        text-align: center;
        user-select: none;
        position: relative;

        .idContent {
            width: 100%;

            img{
                position: relative;
                border-radius: 15px;
                border : 3px $white solid;
            }
            svg {
                .svg-cercle {
                    stroke-width: 10;
                    stroke: $color-3;
                }
            }

            h3 {
                font-size: 1.3rem;
                color: #ECF0F3;
                font-family: $font-1;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-top: 1.5rem;
            }
        }
    }

    .navigation {
        grid-area: 2;
        padding: 2rem 1rem;

        ul {
            display: flex;
            height: 100%;
            flex-direction: row;
            justify-content: space-around;

            .navActive {
                border-top: 3px solid $white;
            }

            a {
                padding: 1rem 0.5rem;
                font-size: 1.3rem;
                position: relative;
                color: $white;

                &:hover {
                    border-top: 3px solid $white;
                    transition: 0.09s ease ;
                }
                &:hover i {
                    transform: translate(3px, 3px);
                    color: #fff;
                }

                a {
                    color: $white;

                }

                &:hover a {
                    color: #fff;
                }
                .navActive {
                    color: $white;
                    border-top: 3px solid $white;
                    transition: 1s ease;

                }
                i {
                    position: absolute;
                    font-size: 1.5rem;
                    transform: translateY(0px);
                    transition: 0.2s ease;
                }

                span {
                    margin-left: 2.7rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .label {
        position: absolute;
        cursor: pointer;
        color: #394a56;
        bottom: 15px;
        right: 15px;

        .label-text {
            margin-left: 16px;
        }
    }

    .toggle {
        height: 20px;
        width: 45px;
        margin: 0 0 5px 0;
        border: 1px solid $white;
        border-radius: 15px;
        overflow: hidden;

        .toggle-state {
            display: none;
        }

        .indicator {
            height: 100%;
            width: 200%;
            background: #ecf0f3;
            border-radius: 15px;
            transform: translate3d(-75%, 0, 0);
            transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        }

        .toggle-state:checked ~ .indicator {
            transform: translate3d(25%, 0, 0);
        }
    }
    #label-text {
        font-family: $font-2;
        color: $color-3;
    }
}




@media screen and (max-width: 1200px) {
    .sidebar {
        border-radius: 0;
        display: flex;
        bottom: 0;
        min-height: 50px;
        height: 60px;
        margin: 0;
        position: fixed;
        z-index: 3;
        width: 100%;

        .id {
            display: none;
        }

        .navigation {
            width: 100%;
            padding: 0.1rem 1rem;
            margin: 0 1rem 0 0;

            ul {
                display: flex;
                justify-content: space-around;

                span {
                    margin-left: 1.5rem im !important;
                }
            }

            .label {
                bottom: 64px;
                left: 15px;
                right: auto;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .sidebar {
        padding: 0 0 0.8rem 0;
        border-radius: 0;
        width: 100%;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
        
        ul {
            justify-content: space-around !important;

            
              

                li {
             padding: 2px 42px 9px 25px !important;
                }

                i {
                    font-size: 1.5rem !important;
                    transform: translateY(-4px) !important;
                }
                span {
                    display: none;
                }
            
        }
    }
}
