#-cube-viewport {
    align-items: center;
    display: flex;
    height: var(--viewport-size);
    justify-content: center;
    position: relative;
    width: var(--viewport-size);
}

#-cube-axis {
    height: var(--cube-size);
    transform-style: preserve-3d;
    transform: rotateX(var(--y, -25deg)) rotateY(var(--x, -15deg));
    transition: transform .7s ease-out;
    /*transition: transform .7s cubic-bezier(.22,.68,0,1.71);*/
    width: var(--cube-size);
}

.-cube-side {
    height: 100%;
    position: absolute;
    transition: transform .5s cubic-bezier(.25,.75,.5,1.25);
    width: 100%;
}

/*Front*/
#-cube-side-0 {
    transform: translateZ(var(--translateZ));
}

/*Back*/
#-cube-side-1 {
    transform: rotateY(180deg) translateZ(var(--translateZ));
}

/*Right*/
#-cube-side-2 {
    transform: rotateY(90deg) translateZ(var(--translateZ));
}

/*Left*/
#-cube-side-3 {
    transform: rotateY(-90deg) translateZ(var(--translateZ));
}

/*Top*/
#-cube-side-4 {
    transform: rotateX(90deg) translateZ(var(--translateZ));
}

/*Bottom*/
#-cube-side-5 {
    transform: rotateX(-90deg) translateZ(var(--translateZ));
}


h1 {
    color: #eff2f7;
    pointer-events: none;
}





main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    align-items: center;
    display: flex;
    border-radius: 50px;
    height: 100%;
    justify-content: center;
    user-select: none;
}



.cube-viewport {
    border-radius: 16px;
    cursor: var(--cursor, grab);
}