.home {
    .homeContent {
        background: $color-1;
        min-height: $min-Height;
        width: 100%;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        .textContent {
            margin-top: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: inherit;
            z-index: -1;
            filter: brightness(30%);
        }

        .content {
            position: absolute;
            top: 20%;
            font-family: $font-2;
            margin: 0 auto;

    

            h1 {
                @include verticalCenter;
                font-size: 2rem;
                font-family: $font-2;
                color: $white;
                text-transform: uppercase;
            }
            h2 {
                @include verticalCenter;
                font-size: 2.5rem;
                padding: 1.5rem 0 7rem;
                color: $white;
            }

            .photo-home {
                display: none;
            }
        }

        .label {
            position: absolute;
            bottom: 50px;
            right: 15px;
            cursor: pointer;
            color: #394a56;

            .label-text {
                margin-left: 16px;
            }
        }

        .toggle {
            height: 30px;
            width: 60px;
            margin: 0 0 5px 0;
            border: 1px solid $white;
            border-radius: 15px;
            overflow: hidden;

            .toggle-state {
                display: none;
            }

            .indicator {
                height: 100%;
                width: 200%;
                background: #ecf0f3;
                border-radius: 15px;
                transform: translate3d(-75%, 0, 0);
                transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
            }

            .toggle-state:checked ~ .indicator {
                transform: translate3d(25%, 0, 0);
            }
        }
        #label-text {
            font-family: $font-2;
            color: $white;
        }
    }

    @media screen and (max-width: 850px) {
        .homeContent {
            margin: 0 !important;

            .photo-home {
                display: initial !important;
                @include verticalCenter;
                flex-direction: column;

                img{
                    position: relative;
                    border-radius: 50%;
                    width:150px;
                    height:150px;
                    transform: translate(-165px, -25px);
                }
                svg {
                    width: 180px;
                    height: 190px;
                    .svg-cercle-1 {
                        stroke-width: 18;
                        stroke: #fff;
                        stroke-dasharray: 500px;
                        stroke-dashoffset: 500px;
                       animation: anim 4s ease forwards;
                       stroke-linecap: round;
                    }
                    .svg-cercle-2 {
                        stroke-width: 10;
                        stroke: $color-3;
                        stroke-dasharray: 500px;
                        stroke-dashoffset: 500px;
                       animation: anim 3s ease forwards;
                       stroke-linecap: round;
                       z-index: 1;
                    }
                    @keyframes anim {
                        to{
                          stroke-dashoffset: 0;
                        }
                      }
                }

                h3 {
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    margin-top: 1.5rem;
                    color: $color-4;
                }
            }
        }
    }
}
@media screen and (max-width: 580px) {
    .homeContent {
        margin: 0 !important;

        .photo-home {
            padding: 1rem;
            display: initial !important;
            @include verticalCenter;
            flex-direction: column;

            img {
                border-radius: 50%;
                

            }

            h3 {
                font-size: 1.3rem;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-top: 1.5rem;
                color: $color-4;
            }
        }
        h1 {
            font-size: 2rem !important;
        }
        h2 {
            font-size: 1.8rem !important;
        }
    }
}
