@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

@font-face {
	font-family: 'fredoka';
	src: url('../../src/font/FredokaOne-Regular.ttf');
}
@font-face {
	font-family: 'roboto';
	src: url('../../src/font/FredokaOne-Regular.ttf');
}

$font-1: "fredoka"; 
$font-2: "roboto"; 

$color-1: #233a995d;
$color-2: #6495ed;
$color-3: #87cefa;
$color-4: #add8e6;
$white: #ddd;
$black:  rgb(20, 20, 20);

$borderRadius: 15px;
$shadow: 0 1px 3px #333;
$min-Height: 95vh;


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin glass {
    background: rgba(243, 243, 243, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    backdrop-filter: blur( 7.0px );
-webkit-backdrop-filter: blur( 7.0px );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: $color-1;

}



body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    background: $black;
    transition: 2s;
}

canvas{
    background-color: rgb(18, 25, 65);
}

 .dark-mode{
    background: rgb(86, 113, 224);
    color: rgb(86, 113, 224);
    $color-1: red;
    transition: 2s;

}

.dark-mode-signature {
    
    p{
        color: $black;
    }
  
}


button {
    border: 4px solid #6495ed;
    background: #5671E0;
    padding: 1rem 2rem;
    border-radius: 20px;
    color: #ddd;
    font-size: 1rem;
    transition: 0.2s ease;
    cursor: pointer;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}


a:visited {
    color: $black;
}

#canvas1{
    position: fixed;
    // background-image: radial-gradient(circle, #055a40, #00555c, #004c88, #003da7, #0d0097);

    top :0;
    left :0;
    z-index: -1;
}

.home,
.knowledges,
.portfolio,
.contact {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 850px) {
        display: block !important;
        margin-bottom: 80px;
    }
}

.homeContent,
.knowledgesContent,
.portfolioContent,
.contactContent {

    @media screen and (max-width: 850px) {
        margin-left: 0 !important;
    }
}
